* {
  box-sizing: border-box;
  font-family: Arial;
}

.page-wrap {
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;
}

button {
  box-shadow: inset 0px 1px 0px 0px #E1D5B8;
  background-color: #E1D5B8;
  border-radius: 6px;
  border: 2px solid #727B85;
  display: inline-block;
  cursor: pointer;
  color: #F2967C;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 6px;
  text-decoration: none;
  padding: 10px;
}

button:hover {
  background-color: #F8D16B;
  color: #F2967C;
}

h1 {
  border-bottom: 1px solid #F2967C;
  margin: 0;
  margin-top: 16px;
  padding: 16px;
  color: #727B85;
}

.total-price {
  padding: 16px;
  text-align: right;
}

.checkout-button {
  width: 100%;
}

.product-container {
  align-content: 'center';
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 16px;
  width: 100%;
}

.product-image {
  flex: 1;
  height: 100px;
  max-width: 100px;
}

.details-wrap {
  padding: 0 16px;
  flex: 3;
}

.remove-button {
  flex: 1;
  margin: auto;
}

.img-wrap {
  margin-top: 32px;
  text-align: center;
}

.img-wrap img {
  width: 400px;

}

.product-details {
  padding: 16px;
  position: relative;
}

.add-to-cart {
  width: 10%;
  margin-top: 16px;
}

.price {
  position: absolute;
  top: 24px;
  right: 16px;
}

.green-button {
  background-color: green;
}

.grey-button {
  background-color: #888;
}

.nav-bar {
  height: 120px;
  width: 100%;
}

.logo-wrap {
  width: 420px;
  height: 420px;
    margin-left: 50px;
}

.logo-wrap img {
  width: 600px;
}

.products-link {
  text-align: center;
  display: block;
  color: black;
  font-size: 22px;
  left: 32px;
  position: absolute;
  top: 16px;
  text-decoration: none;
}

.products-link h1 {
  margin: 0;
}

.cart-link {
  position: absolute;
  right: 16px;
  top: 16px;
  text-decoration: none;
 }

.grid-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 26px;
}

.product-item {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #888;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 20px;
  position: relative;
  width: 32%;
}

.product-name {
  margin-bottom: 0;
  color: #727B85;
}

.product-item img {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .product-item img {
    width: 150px;
  }
}
.product-item a {
  width: 100%;
}

.product-item button {
  width: 70%;
}

.product-container {
  align-content: 'center';
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 16px;
  width: 100%;
}

.product-image {
  flex: 1;
  height: 100px;
  max-width: 100px;
}

.details-wrap {
  padding: 0 16px;
  flex: 3;
}

.remove-button {
  flex: 1;
  margin: auto;
}